* {
  padding: 0;
  margin: 0;
  font-family: "roboto";
}

.item {
  padding: 10px;
  border: 1px solid blueviolet;
  text-align: center;
}

.container {
  display: grid;
  grid-auto-rows: 100px;
  grid-template-rows: 1fr minmax(500px, 80vh) 1fr;
  height: 100vh;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
}

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: sidebar;
}

.item-3 {
  grid-area: main;
}

.item-4 {
  grid-area: footer;
}
