.base {
  padding: 10px;
  background: #fb7c8f;
  border: 1px solid #e42053;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px gray;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 5px;
}

.grid-item:is(
    :nth-child(3),
    :nth-child(5),
    :nth-child(8),
    :nth-child(12),
    :nth-child(17)
  ) {
  grid-column: span 3;
  grid-row: span 2;
}

.with-flow-row {
  grid-auto-flow: dense;
}

.with-flow-columns {
  grid-auto-flow: column dense;
}
